<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #map{
            height:400px;
            width:100%;
        }
    </style>
</head>
<body>
<div id="map"></div>
<script>
    function initMap(){
        var options ={
            zoom:8,
            center:{lat:42,lng:-71}
        };
        var map = new google.maps.Map(document.getElementById('map'),options);


/*        var infoWindow = new google.maps.InfoWindow({
            content:'<h1>Lyy</h1>'
        })
        marker.addListener('click', function(){
            infoWindow.open(map, marker);
        })*/
        parse('signup/blah.json')
        //console.log(obj)
        //addMarker({lat:42.4668,lng:-70.9495},jsonobj.companies[0].email);
        function addMarker(coords,content) {
            var marker = new google.maps.Marker({
            position:coords,
            map:map

        });
            var infoWindow = new google.maps.InfoWindow({
                content:'<h1>'+words+'</h1>'
            });
            marker.addListener('click', function(){
                infoWindow.open(map, marker);
            });
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdGZWcX8NeOm5jDClKiQuaLxwCV128Wu8&callback=initMap"
        async defer></script>
</body>
</html>
