{%extends 'base.html'%}

{%block map%}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #map{
            height:400px;
            width:100%;
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

   
</head>
<body>
<div id="map"></div>
<script>

    function initMap(){
        var options ={
            zoom:8,
            center:{lat:39.8283,lng:-98.5795}
        };
        var map = new google.maps.Map(document.getElementById('map'),options);
        function addMarker(coords, content) {
            var marker = new google.maps.Marker({
            position:coords,
            map:map

        });
            var infoWindow = new google.maps.InfoWindow({
                content:'<p>'+words+'</p>'
            });
            marker.addListener('click', function(){
                infoWindow.open(map, marker);
            });
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdGZWcX8NeOm5jDClKiQuaLxwCV128Wu8&callback=initMap"
        async defer></script>
</body>
    <h1>Restaurants</h1>
    {%for c in companies%}
        {%if c.shelter_or_restaurant == 'Restaurant'%}
            <p>{{c.company_name}}</p>
            <p>{{c.address}}</p>
            <p>{{c.email}}</p>
            
        {%endif%}
    {%endfor%}
    <h1>Shelters</h1>
    {%for d in companies%}
        {%if d.shelter_or_restaurant == 'Shelter'%}
            <p>{{d.company_name}}</p>
            <p>{{d.address}}</p>
            <p>{{d.email}}</p>
            <script type ='text/javascript'>
                var email = "{{d.email}}"
                var address = "{{d.address}}"
                var company_name = "{{d.company_name}}"
                var lat = "{{d.lat}}"
                lat = parseFloat(lat)
                var lng = "{{d.lng}}"
                lng = parseFloat(lat)
                initMap().addMarker({coords:{lat:lat,  lng:lng}, content:company_name})
            </script>
        {%endif%}
    {%endfor%}

{%endblock%}