{%extends 'base.html'%}

{%block map%}
    <h1>Restaurants</h1>
    {%for c in companies%}
        {%if c.shelter_or_restaurant == 'Restaurant'%}
            <p>Company Name: {{c.company_name}}</p>
            <p>Address: {{c.address}}</p>
            <p>Email: {{c.email}}</p>
        {%endif%}
    {%endfor%}
    <h1>Shelters</h1>
    {%for d in companies%}
        {%if d.shelter_or_restaurant == 'Shelter'%}
            <p>Company Name: {{d.company_name}}</p>
            <p>Address: {{d.address}}</p>
            <p>Email: {{d.email}}</p>
        {%endif%}
    {%endfor%}
<!-- <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #map{
            height:400px;
            width:100%;
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

   
</head>
<body>
<div id="map"></div>
<script>

    function initMap(){
        var options ={
            zoom:8,
            center:{lat:39.8283,lng:-98.5795}
        };
        var map = new google.maps.Map(document.getElementById('map'),options);


/*        var infoWindow = new google.maps.InfoWindow({
            content:'<h1>Lyy</h1>'
        })
        marker.addListener('click', function(){
            infoWindow.open(map, marker);
        })*/
    
       // var obj = JSON.parse(jsonobj)
        //for (let index =0;index<obj.companies.length;index++){
          //  let lati = obj.companies[index].lat
            //let longi = obj.companies[index].long
           // //let ema = obj.companies[index].email
           // let compi = obj.companies[index].company_name
            //addMarker({lat:parseFloat(lati),lng:parseFloat(longi)},obj.companies[0].email);
        //}
        function addMarker(coords,content) {
            var marker = new google.maps.Marker({
            position:coords,
            map:map

        });
            var infoWindow = new google.maps.InfoWindow({
                content:'<p>'+words+'</p>'
            });
            marker.addListener('click', function(){
                infoWindow.open(map, marker);
            });
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdGZWcX8NeOm5jDClKiQuaLxwCV128Wu8&callback=initMap"
        async defer></script>
</body> -->
{%endblock%}