{%extends "base.html"%}
{%block content%}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>

    <body>

        {% block header %}
        <h1 style= "color: black; text-align: center; margin-top: -110px;" >Shelter</h1>
        <!-- <form action="signup">
            <input type="submit" value="Sign-Up Here" id = "signUpButton">
        </form> -->
        <br>
        <br>
        {% endblock header %}


        
        <h2 style = "color: black; text-align: center; font-size: 180%; margin-top: -160px;">Shelters, please sign-up in order to coorridnate with restaurants willing to donate their food, and help feed the hungry. </h2>
        <img id = "hungerstat" src = "https://moveforhunger.org/application/files/6215/7229/8315/40-million-americans-face-hunger-every-day.svg" alt = "HungerStat"/>
    
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="jumbotron text-center" style="margin-bottom:-300px; font-size: 90%">
            <p>Food Where It Should Be</p>
        </div>
    </body>
{%endblock content%}

<style>
    #hungerstat{
        border: 1px solid #ddd;
		border-radius: 4px;
		padding: 5px;
        width: 500px;
        margin-left: 1000px;
    }
</style>



